*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
    color:white;
    margin:0;
    padding:0;
    background-color: rgb(18, 18, 18);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p{
    margin:0;
    padding:0;
}

header{
    background-color: black;
    height:80px;
    align-content: center;
    
}

h1{
    text-align: center;
    margin:0;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    min-height: 100hv;
}

#contenedor{
    padding-bottom:40px;
}

#imagen{
    border-radius: 10px;
    visibility: visible;
    opacity:1;
}

#boton{
    padding:10px 16px;
    background-color: black;
    border:none;
    color:white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}


#imagen.oculto{
    opacity:0;
    visibility: hidden;
}

#boton:hover{
    cursor:pointer;
    background-color: rgb(68, 68, 68);
    color:rgb(255, 255, 255);
}

footer{
    margin-top: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0px 4px 0;
    font-style: italic;
}

span a{
  color: white;
  text-decoration: none;
}
span a:hover{
  text-decoration: underline;
}

.derechos-txt{
  padding:10px
}

footer .botones{
  height:50px;
}

footer .boton{
  height: 100%;
}

a{
    height: 1px;
}